


<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowFormsResultados">
            <div class="form-group">
                <label name="SearchFrase" class="control-label">Procurar por:</label>
                <input name="SearchFrase" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



