@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JokesApp</h1>
    <p>A maior autoridade de humor num localhost.</p>
	<img src="~/imagens/trollface.png" />
</div>
